{% extends "layout.html" %}

{% block content %}
  
  <div class="page-header">
    <h1>Welcome to Twitter.js!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50"><br>
      <b>Profile Pic</b><br>
      1.3 followers
    </div>
    <div class="col-md-9">
    
      <!-- display tweets here -->
      {% for tweet in tweets %}
        <li><a href="/users/{{tweet.name}}">{{tweet.name}}</a> tweeted:<br><div class="tweet"><a href="/tweets/{{tweet.id}}"">{{tweet.content}}</a></div></li>
      {% endfor %}

      <!-- display new tweet form here -->
      {% if showForm %}
        <form action="/tweets" method="POST">
          <label for="name_field">Name:</label>
          <input name="name" value="{{ name }}" type="text" id="name_field" />

          <label for="text-field">Text:</label>
          <input name="text" type="text" id="text_field" style="width: 350px;" />

          <input type="submit" value="Submit" />
        </form>
      {% endif %}
      

    </div>
  </div>
    
{% endblock %}